/* lalezar-regular - latin */
@font-face {
	font-family: 'Lalezar';
	font-style: normal;
	font-weight: 400;
	src: url('lalezar-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('lalezar-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('lalezar-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('lalezar-regular.woff') format('woff'), /* Modern Browsers */
		 url('lalezar-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('lalezar-regular.svg#Lalezar') format('svg'); /* Legacy iOS */
  }