@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("/src/fonts/Yekan.css");
@import url('https://v1.fontapi.ir/css/Lalezar');
*{
    direction: rtl;
    font-family: 'Yekan',tahoma,Arial, Helvetica, sans-serif;
}
.logo{
    font-family: 'Lalezar','Yekan',tahoma,Arial, Helvetica, sans-serif;
}